:root {
    --card-bg: #e0ba93;

    --secondary: #c1c2b0;
    --bg: #f9f3f2;
    
    --btn-primary: #aa8a6a;
    --btn-primary-hover: #947c64;

    --link: #947c7c;
    --link-hover: #746e6e;

    --icon: #5A4A42;
    --icon-hover: #7a644d;

    --text: #3a2e29;

}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;

}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: var(--bg);
}

.container {
    position: relative;
    max-width:60%;
    width: 100%;
    height: 80vh;
    background: var(--card-bg);
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.15);
}

.container .form-container{
    position: absolute;
    top: 0;
    height: 100%;
    width: 50%;
    padding: 20px 30px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    background: var(--card-bg);
    transition: 0.6s ease-in-out;
}
.form-container.active{
    display: block;
}

.container .login {
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0;
    z-index: 2;
}

.container .signup {
    left: 0;
    opacity: 0;
    z-index: 1;
}

.container.active .login {
    transform: translateX(100%);
    border-bottom-right-radius: 10px ;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;

}

.container.active .signup {
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    border-bottom-right-radius: 10px ;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
}

.container .form-container h2{
    color: var(--text);
}
.container .form-container form{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px; 
} 
.container .form-container .conact-list{
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
.container .form-container .conact-list .circle{
    padding: 7px;
    border: 1px solid white;
    color: var(--icon);    
    border-color:var(--icon);
    border-radius: 50%;
    transition: 0.3s;
}
.container .form-container .conact-list .circle:hover{
    border-color:  var(--icon-hover);
    color: var(--icon-hover);
}
.container .form-container p a{
    color: var(--link);
    font-size: 13px;
    text-decoration: none;
}
.container .form-container p a:hover{
    text-decoration: underline;
    color: var(--link-hover);
}
.container .form-container  input{
    width: 100%;
    padding: 10px;
    border-radius: 6px;
    border: none;
    outline: none;
    font-size: 16px;
}

.container .form-container  button{
    color: var(--text);
    background: var(--btn-primary);
    padding: 10px 15px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    transition: 0.5s;
}
.container .form-container  button:hover{
    background: var(--btn-primary-hover);
    transition: 0.5s;

}

/* overlay */
.container .overlay {
    position: absolute;
    top: 1%;
    left: 50%;
    width: 49.2%;
    height: 98%;
    border-radius: 10px;
    background: url(./images/v722-aum-33b.jpg);
    background-position: center;
    background-size: cover;
    transition: 0.6s ease-in-out;
}

.container.active .overlay {
    transform: translateX(-100%);
    z-index: 4;
}

.container .overlay-panel {
    color: var(--text);
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container .overlay-left {
    transform: translateX(-100%);
}

.container.active .overlay-left {
    transform: translateX(0);
}

.container.active .overlay-right {
    transform: translateX(100%);
    opacity: 0;
}
.container .overlay-panel  button{
    color: var(--text);
    background: var(--btn-primary);
    padding: 10px 16px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    transition: 0.5s;
    margin-top: 20px;
}
.container .overlay-panel  button:hover{
    background: var(--btn-primary-hover);
    transition: 0.5s;

}
.container .switch-text {
    color: var(--text);
    font-size: 12px;
    display: none;
}

.container .switch-text a {
    color: var(--link);
    font-weight: 700;
    margin-left: 5px;
}

.container .switch-text a:hover {
    text-decoration: underline;
}
.container .error-message{
    font-size: 13px !important;
    padding: 12px;
    background: #ca868d85;
    border-radius: 6px;
    color: #f77c8c;
    text-align: center;
    margin-bottom: 20px;
}

@media (max-width: 750px) {

    .container {
        max-width: 100%;
        width: 100%;
        min-height: 100vh;
    }

    .container .form-container {
        position: absolute;
        width: 100% !important;
        min-height: 100vh;
        transform: none !important;
        border-radius: 10px;
    }

    .container .signup {
        display: none;

    }

    .container .overlay {
        display: none;
    }

    .container.active .signup {
        display: block;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .container.active .login {
        display: none;
    }
    .container .switch-text {
        font-size: 14px;
        display: block;
    }
    .container .form-container .conact-list{
        gap: 12px;
    }
    .container .form-container .conact-list .circle{
        padding: 5px;
    }
    .container .form-container p a{
        font-size: 12px;
    }
    .container .form-container  input{
        padding: 8px;
    }

    .container .form-container  button{
        padding: 8px 16px;
        font-size: 12px;
    }

}
