:root {
    --card-bg: #e0ba93;

    --secondary: #c1c2b0;
    --bg: #f9f3f2;
    
    --btn-primary: #aa8a6a;
    --btn-primary-hover: #947c64;

    --link: #947c7c;
    --link-hover: #746e6e;

    --icon: #5A4A42;
    --icon-hover: #7a644d;

    --text: #3a2e29;

}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;

}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: var(--bg);
}
.box{
    height: 60vh;
    width: 30%;
    padding: 15px;
    border-radius:10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    justify-content: center;
    background: var(--card-bg);
    transition: 0.6s ease-in-out;
}
.box h2{
    color: var(--text);
}
.box h2 span{
    font-family: "Parisienne", cursive;
}

.box button{
    color: var(--text);
    background: var(--btn-primary);
    padding: 10px 15px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    transition: 0.5s;
}
@media (max-width: 750px) {
    .box{
        height: 30vh;
        width: 70%;
    }
    .box h2{
       font-size: 15px;
    }
    .box button{
        padding: 8px 13px;
        font-size: 10px;
        font-weight: 600;
        transition: 0.5s;
    }
}